{% extends 'TaskPlannerBundle::base.html.twig' %}

{% block body %}
    <h1 style="margin-left: 170px; padding-bottom: 70px">Task</h1>

    <table style="width: 75%; height:300px; text-align: left; padding: 15px; margin-left: 50px">
        <tbody style="padding: 50px">
            <tr>
                <th>Name</th>
                <td>{{ task.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ task.description }}</td>
            </tr>
            <tr>
                <th>Completed</th>
                <td>{% if task.completed %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Task Category</th>
                <td>
                    {% for taskCategory in task.taskCategories %}
                        {{ taskCategory.name }}<br>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Comments</th>
                <td style="padding: 20px">
                    {% for comment in task.comments %}
                        {{ comment.text }}<br>
                        <p><button><a href="{{ path('comment_edit', { 'id': comment.id, 'taskId': task.id }) }}">Edit</a></button></p>
                        <br>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <br>
    <ul style="list-style-type:none; margin-left: 90px; padding-top: 70px">
        <li>
            <p><button><a href="{{ path('task_index') }}">Back to the task list</a></button></p>
        </li>
        <li>
            <p><button><a href="{{ path('task_edit', { 'id': task.id }) }}">Edit task</a></button></p>
        </li>
        <li>
            <p><button><a href="{{ path('comment_new', { 'taskId': task.id }) }}">Add new comment</a></button></p>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete task">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
